.cart-container{
    background-color:rgb(220, 197, 197);
}
.cart-container >h3{
    padding: 10px;
    border-radius: 10px;
    /* background-color: grey; */
}
.click-button{
    background-color: grey;
     display: flex;
     justify-content: space-around;
     padding: 15px;
     border-radius: 5px;
}
.click-button button{
    padding: 10px;
    border-radius: 30px;
    background-color: aliceblue;
}

.cart-container h5{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 8px;
}
.btn-button{
    background-color: rgb(9, 210, 133);
    padding: 8px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    border: none;
}
