.exercises-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 40px;
}
.exercises{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.exercises-text{
    text-align: center;
    display: flex;
    justify-content: center;
   
}
.exercises-text>h1{
    margin: 10px;
}
.cart-container{
    margin-left: 20px;
    padding: 10px;
}
.exercises-text>img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
.break-time{
    display: flex;
   justify-content: space-around;
}
/* resposible mobaile device */
@media screen and (max-width:768px) {
    .exercises-container{
        grid-template-columns:  1fr;
    }
    .exercises{
        
        grid-template-columns: repeat(1, 1fr);
    }
}